<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/vendor/foundation.css">
    <link rel="stylesheet" href="src/css/app.css">

    <!-- Vue.JS Dev. Version -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
 

    <main id="app">
                <!-- Head Bereich mit Eingabe -->
    <header>
            <div class="top-bar">
                <div class="top-bar-left">
                  <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">To Do App</li>
                    <li><input id="newTask" v-model="newTask" type="search" placeholder="z.b. Vue.JS lernen.."></li>
                    <li><button class="button addTask" @click="addTask" type="button">Aufgabe hinzufügen</button></li>
                  </ul>
                </div>
          </div>
        </header>
        <!-- Bereich für alle Aufgaben -->
        <div class="grid-x tasks all">
            <div class="cell small-10">
                <h3><i class="fas fa-globe main-icon"></i>Alle Aufgaben</h3>
                <ul>
                <li v-for="(task, index) in tasks" :class="{'task-done' : task.fertig}">
                    <p>{{task.desc}}
                        <button class="check" @click="changeTask(index)"><i class="fas fa-check"></i></button>
                        <button class="delete" @click="deleteTask(index)"><i class="fas fa-trash-alt"></i></button>
                    </p>
                </li>
                </ul>
            </div>
            
            <div class="cell small-2 options">
                <button class="delete" ><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>

        <!-- Bereich für alle Aufgaben -->
        <div class="grid-x tasks open">
            <div class="cell"><h3><i class="fas fa-calendar-alt main-icon"></i>Zu erledigen</h3></div>
             <ul>
                <li v-for="(task, index) in taskOpen">
                    <p>{{task.desc}}</p>
                </li>
                </ul>
          </div>

        <!-- Bereich für alle Aufgaben -->
        <div class="grid-x tasks done">
            <div class="cell"><h3><i class="fas fa-check-circle main-icon"></i>Erledigt</h3></div>
            <ul>
                <li v-for="(task, index) in taskDone">
                    <p>{{task.desc}}</p>
                </li>
            </ul>
          </div>
    </main>

    <script src="src/js/vendor/jquery.js"></script>
    <script src="src/js/vendor/what-input.js"></script>
    <script src="src/js/vendor/foundation.js"></script>
    <script src="src/js/app.js"></script>


</body>
</html>